*{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
body{
	background-color: lightblue;
}

header{
	text-align: center;
}
nav{
	max-width: 600px;
	margin: 0 auto;
	background-color: whitesmoke;
	padding: 15px 0px
}
nav a{
	text-decoration: none;
	margin: 0 60px
}
main{
	max-width: 600px;
	background-color: whitesmoke;
	margin: 0 auto;
}
img{
	max-width: 100%;

}
footer{
	background-color: navy;
}